/* fonts */

@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Regular.woff);
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-Regular.woff);
}

/* default start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html {
  scroll-behavior: smooth;
}

:root {
  --text-pr: #8b8e99;
  --text-sc: #ffffff;
  --text-th: #3858d6;
  --text-fr: #1e1d1d;
  --bg-pr: #0b0b0b;
  --bg-sc: #3858d6;
  --heart-bg: #ff6b6b;
  --bg-fr: #ffffff;
  --bg-watch-card: #f6f6f6;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
  display: flex;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1132px;
  margin: 0 auto;
  padding: 0 32px;
}

.subtitle {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: center;
  color: var(--text-th);
}

.title {
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.57px;
  text-align: center;
  color: var(--text-fr);
}

.scroll_off {
  & ::-webkit-scrollbar {
    display: none;
  }
}

.scroll_on {
  & ::-webkit-scrollbar {
    display: block !important;
  }
}

.card_heart_click {
  &::before {
    color: red;
    -webkit-text-stroke: white 1px;
  }
}

/* default end */

/* shop start */

.shop_page {
  position: fixed;
  z-index: 98;
  top: 75px;
  left: 0;
  overflow: hidden scroll;
  height: calc(100vh - 75px);
  width: 100%;
  background-color: var(--bg-fr);
  padding-block: 60px;

  display: none;
}

#close_shop {
  position: fixed;
  top: 100px;
  right: 50px;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
}

#shop_total {
  text-align: center;
  padding-top: 60px;
  font-size: 46px;
}

.shop_buy {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: var(--text-sc);
  background-color: var(--bg-sc);
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  width: 196px;
  height: 46px;
  transition: 0.2s ease-in-out;

  &:hover::after {
    transform: translateX(10px);
    opacity: 1;
  }

  &::after {
    content: ">";
    font-weight: 700;
    transform: translateX(-10px);
    color: var(--bg-sc);
    opacity: 0;
    position: absolute;
    transition: 0.2s ease-in-out;
  }

  &:hover {
    outline: 1px solid var(--bg-sc);
    background-color: var(--bg-fr);
    color: var(--text-th);
  }
  &:active {
    transform: scale(95%) translateX(-50%);
  }
}

/* shop end */

@media (max-width: 1150px) {
  .container {
    max-width: 932px;
  }
}

@media (max-width: 990px) {
  .container {
    max-width: 832px;
  }
}

@media (max-width: 850px) {
  .container {
    max-width: 732px;
  }
}
