/* fonts */

@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Regular.woff);
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-Regular.woff);
}

/* default start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html {
  scroll-behavior: smooth;
}

:root {
  --text-pr: #8b8e99;
  --text-sc: #ffffff;
  --text-th: #3858d6;
  --text-fr: #1e1d1d;
  --bg-pr: #0b0b0b;
  --bg-sc: #3858d6;
  --heart-bg: #ff6b6b;
  --bg-fr: #ffffff;
  --bg-watch-card: #f6f6f6;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
  display: flex;
}

.container {
  max-width: 1132px;
  margin: 0 auto;
  padding: 0 32px;
}

.subtitle {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: center;
  color: var(--text-th);
}

.title {
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.57px;
  text-align: center;
  color: var(--text-fr);
}

.scroll_off {
  & ::-webkit-scrollbar {
    display: none;
  }
}

.scroll_on {
  & ::-webkit-scrollbar {
    display: block !important;
  }
}

.card_heart_click {
  &::before {
    color: red;
    -webkit-text-stroke: white 1px;
  }
}

/* default end */

/* contact start */

.contact {
  margin-top: 135px;
}

.contact .container {
  background-color: var(--bg-watch-card);
  border-radius: 22px;
}

.contact_wrapper {
  display: flex;
  padding: 33px 110px;
  justify-content: space-between;
  align-items: center;
}

.contact_text h1 {
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.57px;
  text-align: left;
  color: var(--bg-pr);
}

.contact_text p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
  color: var(--text-pr);
  padding-block: 12px;
}

.contact_input {
  display: flex;
  position: relative;
  align-items: center;

  & img {
    position: absolute;
    height: 21px;
    width: 21px;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../assets/Search_blue.png);
  }

  & input {
    height: 60px;
    width: 383px;
    background-color: var(--bg-fr);
    border-radius: 15px;
    outline: none;
    border: none;

    color: var(--text-th);
    font-size: 25px;
    padding-left: 30px;
    padding-right: 140px;

    &::placeholder {
      color: #8b8e99;
      font-size: 16px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }
  }

  & button {
    background-color: var(--bg-sc);
    color: var(--text-sc);
    font-size: 18px;
    line-height: 22.59px;
    text-align: center;
    padding-block: 12px;
    width: 131px;
    position: absolute;
    right: 8px;
    border: none;
    border-radius: 8px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      outline: 1px solid var(--bg-sc);
      background-color: var(--bg-fr);
      color: var(--text-th);
    }
    &:active {
      transform: scale(95%) translateY(-50%);
    }
  }
}

/* contact end */

/* shop start */

.shop_page {
  position: fixed;
  z-index: 98;
  top: 75px;
  left: 0;
  overflow: hidden scroll;
  height: calc(100vh - 75px);
  width: 100%;
  background-color: var(--bg-fr);
  padding-block: 60px;

  display: none;
}

#close_shop {
  position: fixed;
  top: 100px;
  right: 50px;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
}

#shop_total {
  text-align: center;
  padding-top: 60px;
  font-size: 46px;
}

.shop_buy {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: var(--text-sc);
  background-color: var(--bg-sc);
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  width: 196px;
  height: 46px;
  transition: 0.2s ease-in-out;

  &:hover::after {
    transform: translateX(10px);
    opacity: 1;
  }

  &::after {
    content: ">";
    font-weight: 700;
    transform: translateX(-10px);
    color: var(--bg-sc);
    opacity: 0;
    position: absolute;
    transition: 0.2s ease-in-out;
  }

  &:hover {
    outline: 1px solid var(--bg-sc);
    background-color: var(--bg-fr);
    color: var(--text-th);
  }
  &:active {
    transform: scale(95%) translateX(-50%);
  }
}

/* shop end */

/* media start */

@media (max-width: 1150px) {
  .container {
    max-width: 932px;
  }
  .carousel_card {
    width: 500px;
    transition: 0.2s;
    padding: 40px;
    gap: 20px;
  }
}

@media (max-width: 990px) {
  .container {
    max-width: 832px;
  }
  .carousel_item {
    gap: 30px;
  }
  .carousel_card {
    width: 400px;
    height: 215px;
    transition: 0.2s;
    padding: 20px;
    gap: 20px;
  }
}

@media (max-width: 950px) {
  .carousel_item {
    gap: 15px;
  }
  .carousel_card {
    height: 200px;
    padding: 20px;
    gap: 5px;

    & img {
      width: 90%;
    }
  }
}

@media (max-width: 850px) {
  .container {
    max-width: 732px;
  }
  .contact_wrapper {
    flex-direction: column-reverse;
    gap: 50px;
  }
}

@media (max-width: 750px) {
  .carousel {
    overflow-x: hidden;
  }

  .carousel_item {
    /* flex-direction: column; */
    /* width: 668px; */
  }

  .carousel_card {
    height: 170px;

    & .carousel_card img {
      width: 100%;
    }

    & .carousel_text h1 {
      font-size: 16px;
    }

    & .carousel_text p {
      font-size: 12px;
    }
  }
}

@media (max-width: 620px) {
  .carousel_card {
    padding: 0;
    padding-inline: 10px;
    height: 150px;

    & .carousel_text {
    }
  }
}

@media (max-width: 580px) {
  .carousel_card {
    padding: 0;
    padding-inline: 10px;
    height: 150px;

    & .carousel_text .stars {
      padding: 0;
    }
  }
}

@media (max-width: 550px) {
  .carousel_card {
    /* position: relative; */
    flex-direction: column;
    padding-block: 10px;

    & .carousel_img {
      width: 100%;
      height: 70%;
      /* position: absolute; */
      padding-top: 10px;

      & img {
        height: 100%;
        object-fit: cover;

        border-radius: 8px;
      }
    }
    & .carousel_text * {
      text-align: center;
    }
    & .carousel_text h1 {
      font-size: 16px;
      align-self: flex-start;
    }
  }
}

@media (max-width: 520px) {
  .carousel_card {
    & .carousel_text * {
      font-size: 14px;
    }
    & .carousel_text h1 {
      font-size: 16px;
    }
  }
}

@media (max-width: 480px) {
  .carousel_card {
    & .carousel_text p {
      text-overflow: ellipsis;
      /* white-space: nowrap; */
      overflow: hidden;
    }
  }
}

/* media end */

/* В CSS */
.shop_page .card {
  display: none;
}

.card_heart.red {
  &::before {
    color: red !important;
  }
}
.card_heart.white {
  &::before {
    color: var(--text-sc) !important;
  }
}
